@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
#person{
    width:100%;
    padding-bottom: 20px;
    background:linear-gradient(270deg, lightblue, #121314);
    min-height:60vh;
}
#personprofile{
    width:60%;
    border-radius:12px;
    font-family: 'Alegreya',sans-serif;
    background-color: white;
    margin-left:20%;
    box-shadow: 5px 5px 5px 0px #000000;
}
#profile1 {
    text-align: center;
    width: 98%;
}
#profile2{
    overflow: auto;
    width:100%;
    text-align: left;
    background-color:lightblue;
    border-radius: 0px 0px 12px 12px;
}
#menip ul{
    width:100%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#menip li{
    float:left;
    border-right:1px solid white;
}
#podacip {
    width:99.5%;
    background-color: black;
    height: 222px;
    border-radius: 0px 0px 12px 12px;
    border: 1px solid lightblue;
}
#podacip ul{
    width:99%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    color:lightblue;
    padding-top: 20px;
    padding-left: 1%;
}
#podacip li{
    float:left;
    width:50%;
    color:lightblue;
    padding-top: 10px;
}
#kupovine {
    width:99.5%;
    background-color: black;
    border-radius: 0px 0px 12px 12px;
    border: 1px solid lightblue;
    display:none;
}
#kupovine ul{
    width:100%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    color:lightblue;
    padding-top: 20px;
}
#kupovine li{
    float:left;
    width:100%;
    color:lightblue;
    padding-top: 10px;
}
.tabelakupljenih{
    width: 100%;
    border-collapse: collapse;
}
.tabelakupljenih tr{
    border-top: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
}
.tabelakupljenih th{
    padding: 7px;
}
.tabelakupljenih td{
    padding: 7px;
}
.arrow {
    color:lightblue; 
    font-size:14pt;
}
.dugmeprofil{
  border: none;
  width:100px;
  height:50px;
  background-color:lightblue;
  color:white;
}
.dugmeprofil:hover{
    color:lightblue;
    background-color: black;
}
#profilepicture{
    border-radius:50%;
    width:20%;
    height:3%;
    border:1px solid gray;
}