@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
/*Admin strana*/
.admin{
    flex-grow:999;
    flex-basis: 0;
}
.sticky2{
    background:#121314;
    color: white;
    width: 10rem;
    flex-grow: 1;
    position: sticky;
    top:1rem;
    display: flex;
    flex-basis: 280px;
    box-sizing: border-box; 
    flex-direction: column;
}
#sticky2header{
    text-align: center;
    border-bottom: 2px dotted gray;
}
.sticky2 ul{
    width:100%;
    list-style-type: none;
    padding:0;
    margin-top:0px;
}
.sticky2 li{
    width:95%;
    height:50px;
    float:left;
    text-align:center;
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 2%;
}
.sticky2 li:hover{
    background-color: lightblue;
    color:#121314;
    cursor: pointer;
}
.sticky2 p{
    width:83%;
}
.pretragainput{
    background-color: #121314;
    color:lightblue;
    border:1px solid lightblue;
    height: 25px
}
.pretragainput:focus{
    border: 1px solid black;
}
#useradmin{
    color:lightblue;
    min-height: 100vh;
}
#useradmin h1{
    text-align:center;
}
#tabelakorisnika{
    width:94%;
    border-collapse:collapse;
    border: 1px solid lightblue;
    text-align: left;
    margin-left:3%;
}
#tabelakorisnika tr{
    border-top:1px solid lightblue;
    height: 40px;
}
#tabelakorisnika td,th{
    text-align: center;
}
#pretragakorisnika{
    width:94%;
    margin-left:3%;
    background:linear-gradient(180deg, lightblue, black);
    color:white;
    border-radius:12px
}
#pretragakorisnika ul{
    padding-top:12.5px;
    padding-bottom:12.5px;
    width:98%;
    padding-left: 1%;
    list-style-type: none;
    overflow: auto;
}
#pretragakorisnika li{
    float:left;
    width:25%;
}
#tabelaadminkorisnika{
    width:94%;
    border-collapse:collapse;
    border: 1px solid lightblue;
    text-align: left;
    margin-left:3%;
}
#tabelaadminkorisnika tr{
    border-top:1px solid lightblue;
    height: 40px;
}
#tabelaadminkorisnika td,th{
    text-align: center;
}
#pretragaadminkorisnika{
    width:94%;
    margin-left:3%;
    background:linear-gradient(180deg, lightblue, black);
    color:white;
    border-radius:12px
}
#pretragaadminkorisnika ul{
    padding-top:12.5px;
    padding-bottom:12.5px;
    width:98%;
    padding-left: 1%;
    list-style-type: none;
    overflow: auto;
}
#pretragaadminkorisnika li{
    float:left;
    width:25%;
}
/*Products Admin*/
#productadmin{
    color:lightblue;
    min-height: 100vh;
    display:none;
}
#productadmin h1{
    text-align:center;
}
#tabelaproizvoda{
    width:94%;
    border-collapse:collapse;
    border: 1px solid lightblue;
    text-align: left;
    margin-left:3%;
}
#tabelaproizvoda tr{
    border-top:1px solid lightblue;
    height: 40px;
}
#tabelaproizvoda td,th{
    text-align: center;
}
#pretragaproizvoda{
    width:94%;
    margin-left:3%;
    background:linear-gradient(180deg, lightblue, black);
    color:white;
    border-radius:12px
}
#pretragaproizvoda ul{
    padding-top:12.5px;
    padding-bottom:22.5px;
    width:98%;
    padding-left: 1%;
    list-style-type: none;
    overflow: auto;
}
#pretragaproizvoda li{
    float:left;
    width:33%;
    padding-top:10px;
}
#selectadmintext{
    float:left;
    padding-top: 5px;
}
.selectadmin {
  width: 35%;
  float:left;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  cursor: pointer;
  line-height: 1.1;
  background: linear-gradient(to bottom, #121314 0%, #121314 100%);
}
.tableicon{
  font-size: 25px;
  color: lightblue;
  background: transparent;
  border: none;
  padding:0px;
  box-sizing : content-box;
  line-height: 0px;
}
#dodajproizvod{
    background-color:lightblue;
    color: black;
    border:1px solid lightblue;
    border-radius:12px;
    margin-left:3%;
    width: 100px;
    height: 50px;
}
#dodajproizvod:hover{
    background-color:black;
    color:lightblue;
}
.newinputnumber{
    width:90%;
    height:25px;
    background-color:#121314;
    border:1px solid lightblue;
    border-radius: 5px;
    color:lightblue;
}
.newinputamount{
    width:90%;
    height:25px;
    background-color:#121314;
    border:1px solid lightblue;
    border-radius: 5px;
    color:lightblue;
}
.newinput{
    height:25px;
    width:90%;
    background-color:#121314;
    border:1px solid lightblue;
    border-radius: 5px;
    color:lightblue;
}
.selectadmin2 {
  width: 66%;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  cursor: pointer;
  line-height: 1.1;
  background: linear-gradient(to bottom, #121314 0%, #121314 100%);
}
.proizvodnovibuttons{
    background-color:lightblue;
    color: black;
    border:1px solid lightblue;
    border-radius:12px;
    margin-right: 5%;
    width: 100px;
    height: 50px;
}
.proizvodnovibuttons:hover{
    background-color:black;
    color:lightblue;
}
.proizvodnovibuttono{
    background-color:lightblue;
    color: black;
    border:1px solid lightblue;
    border-radius:12px;
    width: 100px;
    height: 50px;
}
.proizvodnovibuttono:hover{
    background-color:black;
    color:lightblue;
}
#noviproizvod{
    display:none;
}
/*Admin Category*/
#categoryadmin{
    color:lightblue;
    min-height: 100vh;
    display:none;
}
#categoryadmin h1{
    text-align:center;
}
#categorytable{
    width:94%;
    border-collapse:collapse;
    border: 1px solid lightblue;
    text-align: left;
    margin-left:3%;
}
#categorytable tr{
    border-top:1px solid lightblue;
    height: 40px;
}
#categorytable td,th{
    text-align: center;
}
#categorysearch{
    width:94%;
    margin-left:3%;
    background:linear-gradient(180deg, lightblue, black);
    color:white;
    border-radius:12px
}
#categorysearch ul{
    padding-top:12.5px;
    padding-bottom:22.5px;
    width:98%;
    padding-left: 1%;
    list-style-type: none;
    overflow: auto;
}
#categorysearch li{
    float:left;
    width:33%;
    padding-top:10px;
}
#addcategory{
    background-color:lightblue;
    color: black;
    border:1px solid lightblue;
    border-radius:12px;
    margin-left:3%;
    width: 100px;
    height: 50px;
}
#addcategory:hover{
    background-color:black;
    color:lightblue;
}
/*Admin Location*/
#locationadmin{
    color:lightblue;
    min-height: 100vh;
    display:none;
}
#locationadmin h1{
    text-align:center;
}
#locationtable{
    width:94%;
    border-collapse:collapse;
    border: 1px solid lightblue;
    text-align: left;
    margin-left:3%;
}
#locationtable tr{
    border-top:1px solid lightblue;
    height: 40px;
}
#locationtable td,th{
    text-align: center;
}
#locationsearch{
    width:94%;
    margin-left:3%;
    background:linear-gradient(180deg, lightblue, black);
    color:white;
    border-radius:12px
}
#locationsearch ul{
    padding-top:12.5px;
    padding-bottom:22.5px;
    width:98%;
    padding-left: 1%;
    list-style-type: none;
    overflow: auto;
}
#locationsearch li{
    float:left;
    width:33%;
    padding-top:10px;
}
#addlocation{
    background-color:lightblue;
    color: black;
    border:1px solid lightblue;
    border-radius:12px;
    margin-left:3%;
    width: 100px;
    height: 50px;
}
#addlocation:hover{
    background-color:black;
    color:lightblue;
}
#proizvodnovi{
    width:94%;
    margin-left:3%;
    display:none;
}
#proizvodnovi ul{
    list-style-type: none;
    width:100%;
    padding: 0;
    height:315px;
}
#proizvodnovi li{
    float:left;
    height:60px;
    width:50%;
}
input[type="file"] {
    display: none;
}
#buttonfile{
	height:25px;
    width:30%;
    background-color:lightblue;
    border:1px solid #121314;
    border-radius: 5px;
    color:#121314;
}
#buttonfile:hover{
	background-color:black;
    color:lightblue;
}
/*Kategorija*/
#kategorijanovi{
    width:94%;
    margin-left:3%;
    display:none;
}
#kategorijanovi ul{
    list-style-type: none;
    width:100%;
    padding: 0;
    height:315px;
}
#kategorijanovi li{
    float:left;
    height:60px;
    width:50%;
}
/*Lokacija*/
#lokacijanovi{
    width:94%;
    margin-left:3%;
    display:none;
}
#lokacijanovi ul{
    list-style-type: none;
    width:100%;
    padding: 0;
    height:315px;
}
#lokacijanovi li{
    float:left;
    height:60px;
    width:50%;
}
.lokacijanovibuttons{
    background-color:lightblue;
    color: black;
    border:1px solid lightblue;
    border-radius:12px;
    margin-right: 5%;
    width: 100px;
    height: 50px;
}
.lokacijanovibuttons:hover{
    background-color:black;
    color:lightblue;
}
.lokacijanovibuttono{
    background-color:lightblue;
    color: black;
    border:1px solid lightblue;
    border-radius:12px;
    width: 100px;
    height: 50px;
}
.lokacijanovibuttono:hover{
    background-color:black;
    color:lightblue;
}