@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
#map {
    width:100%;
    height:400px;
    border-bottom: 2px solid lightblue;
}
#buttons {
    width:100%;
    height:100px;
    background:linear-gradient(90deg, lightblue, #121314);
}
#lokacije {
    width:100%;
    height:400px;
    background:linear-gradient(90deg, lightblue, #121314);
    overflow: auto;
}
#buttons ul{
    width:80%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    padding-top: 20px;
    margin-left:8%;
}
#buttons li{
    float:left;
    padding-left: 3%;
}
.vp {
    border: none;
    width:100px;
    height:50px;
    background-color:black;
    border-radius: 12px;
    color:lightblue;
    border: 1px solid lightblue;
}
.active, .vp:hover{
    background-color: lightblue;
    color:black;
    border: 1px solid black;
}
.mp {
    border: none;
    width:100px;
    height:50px;
    background-color:black;
    border-radius: 12px;
    color:lightblue;
    border: 1px solid lightblue;
}
.active, .mp:hover{
    background-color: lightblue;
    color:black;
    border: 1px solid black;
}
#tabelalokacija{
    width:80%;
    margin-left:10%;
    border-collapse: collapse;
}
#tabelalokacija th{
    border-bottom: 1px solid white;
    text-align: left;
    padding: 5px;
}
#tabelalokacija td{
    border-bottom: 1px solid white;
    text-align: left;
    padding: 5px;
}