@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
#back{
    width: 100%;
    background:#121314;
    min-height: 388px;
}
#rules{
    width:50%;
    background-color: #121314;
    color:lightblue;
    float:left;
    min-height: 388px;
}
#chat{
    width: 50%;
    background-color: #121314;
    color:lightblue;
    float:right;
    max-height: 61vh;
    overflow: auto;
}
#rules ul{
    width:100%;
    list-style: none;
    padding: 0;
    margin:0;
}
#rules li{
    font-size: 16pt;
    padding-left: 5px;
    padding-top: 5px;
}
#rules h2{
    text-align: center;
}
#pitanjebutton{
    background-color:lightblue;
    color: black;
    border:1px solid lightblue;
    border-radius:12px;
    width: 20%;
    height: 35px;
    margin-left:4%;
}
#pitanjebutton:hover{
    background-color:black;
    color:lightblue;
}
#pitanje
{
    width: 70%;
    background-color: #121314;
    border: 1px solid lightblue;
    height:40px;
    color:lightblue;
    margin-left: 1%;
}
#chating
{
    width: 100%;
    min-height: 54px;
    background-color: #121314;
    padding-top:13px;
}
#chatdiv{
    overflow: auto;
    height: 50vh;
}
.container {
  width:80%;
  border: 2px solid #dedede;
  background-color: lightblue;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  margin-left:2%;
  color:#121314;
}

/* Darker chat container */
.darker {
  border-color: lightblue;
  background-color: #121314;
  margin-left:12%;
  color:lightblue;
}
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #121314;
}

/* Style time text */
.time-left {
  float: left;
  color: lightblue;
}