@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
#slideshow{
    width: 100%;
    height:400px;
    border-bottom: 2px solid lightblue;
}
.text{
    float:left;
    width: 40%;
    background: linear-gradient(90deg,black 50%,transparent);
    height:400px;
}
.textinner{
    height:400px;
    padding-top:10%;
    padding-left:10%;
    padding-bottom: 20%;
    padding-right: 10%;
}
.textinner h1{
    color:lightblue;
}
.textinner p {
    color:lightblue;
}
.textinner a{
    color:white;
    text-decoration: none;
}
.dot2 {
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 50%;
  border:1px solid lightblue;
  display: inline-block;
}
.dot1 {
  height: 20px;
  width: 20px;
  background-color: lightblue;
  border-radius: 50%;
  border:1px solid lightblue;
  display: inline-block;
}
#lokacija {
    width: 100%;
    background-color:lightblue;
    height:400px;
    
}
#transp {
    float:right;
    width: 100%;
    background: linear-gradient(90deg,black 0%,lightblue),
        linear-gradient(180deg,black 50%,transparent);
    height:400px;
}
#tekstlokacija {
    float:right;
    width:30%;
    padding-left:5%;
    padding-right: 5%;
    padding-top: 5%;
}
#tekstlokacija h1{
    color:white;
}
#tekstlokacija p{
    color:white;
}
#tekstlokacija a{
    color:lightblue;
    text-decoration: none;
}
#map1 {
    width:100%;
    float:left;
    height: 400px;
    float:left;
    text-align: center;
    background:linear-gradient(270deg,black 0%,transparent);
}
#mapicon{
    width:100%;
    height: 400px;
    float:left;
    text-align: center;
    background:linear-gradient(270deg,black 0%,transparent);
}