@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
#login {
    width:100%;
    background-color: black;
    background:linear-gradient(0deg, lightblue, #121314);
}
#loginbox{
    width:45%;
    margin-left:27.5%;
    background: linear-gradient(-225deg,white 50%,lightblue 50%);
    font-family: 'Abel', sans-serif;
    text-align: center;
}
#loginbox h2{
    font-family:'Playfair Display', serif;
    margin-top: 0px;
}
#loginbox a{
    color:white;
    text-decoration: none;
}
#dugmeprijava {
    border: none;
    width:100px;
    height:50px;
    background-color:black;
    border-radius: 12px;
    color:lightblue;
    border: 1px solid lightblue;
}
#dugmeprijava:hover{
    color:#121314;
    background-color: white;
}
#user{
    background-color: black;
    border: 3px solid lightblue;
    color: lightblue;
    border-radius: 8px;
    height: 45px;
    width: 45%;
}
#pass{
    background-color: black;
    border: 3px solid lightblue;
    color: lightblue;
    border-radius: 8px;
    height: 45px;
    width: 45%;
    margin-top: 5px;
}