@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
.product{
    flex-grow:999;
    flex-basis: 0;
}
.sticky{
    background:lightblue;
    color: white;
    height: 470px;
    width: 10rem;
    flex-grow: 1;
    position: sticky;
    top:0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 300px;
    box-sizing: border-box; 
}
.grid{
    margin:2rem;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0.5rem;
}
.grid div{
    background-color:#121314;
    color: lightblue;
}
.box{
    text-align: center;
}
.box p { margin: 0 5px 5px; }

.box h2 { 
margin: 50px 10px 0; 
}
.box .image{
    width:80%;
    margin-left: 10%;
    height:100px;
    margin-top:10px;
}
.box img{
    height:150%;
    width:100%;
}
#cartdiv{
    position:absolute;
    float:right;
    width:27%;
    background-color: lightblue;
    margin-left: 73%;
    border-radius: 5px;
    box-sizing: border-box; 
    border: 1px solid #121314;
    color:white;
    display:none;
}
#cart{
    width: 100%;
    height: 100%;
    background-color:black;
    border-radius:5px;
    display: flex;
    flex-direction: column;
}
#korpa
{
    height:50px;
    width:100%;
    background:linear-gradient(0deg, lightblue, black);
    text-align: center;
}
#suma
{
    height:100px;
    width:100%;
    background:linear-gradient(270deg, lightblue, black);
    text-align: center;
}
#suma p{
    width:95%;
    height:12%;
    text-align:right;
    margin-top: 0px;
}
#kupibutton{
    height: 36%;
    text-align: center;
    width: 40%;
    border: 1px solid lightblue;
    border-radius: 10px;
    background-color: black;
    color: lightblue;
}
#kupibutton:hover{
    background-color: lightblue;
    color:black;
}
#korpabuttonmeni{
    background-color: #121314;
    border:none;
    width:50px;
}
#tabelakorpa{
    border-collapse: collapse;
    width:100%;
    background:linear-gradient(270deg, lightblue, black);
}
#tabelakorpa tr{
    width:100%;
    height:50px;
}
#tabelakorpa td{
    padding:5px;
}
.korpaobrisi{
  font-size: 18pt;
  color: red;
  background: transparent;
  border: none;
}
#rad{
    width:100%;
    height:100%;
    background:linear-gradient(90deg,black 0%,transparent);
    color:white;
    text-align: center;
}
#dugmepretraga {
    border: none;
    width:100px;
    height:50px;
    background-color:black;
    border-radius: 12px;
    color:lightblue;
    border: 1px solid lightblue;
}
#dugmepretraga:hover{
    color:#121314;
    background-color: lightblue;
}
.buttonkorpa{
    border: none;
    width:100px;
    height:50px;
    background-color:black;
    border-radius: 12px;
    color:lightblue;
    border: 1px solid lightblue;
}
.buttonkorpa:hover{
    color:#121314;
    background-color: lightblue;
}
#bord{
    width: 0.5%;
    float:left;
    background-color: lightblue;
    height: 700px
}