@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
#registracija{
    width:100%;
    background:linear-gradient(0deg, lightblue, #121314);
    height:800px;
}
#registracijabox{
    width:95%;
    margin-left:2.5%;
    height:80%;
    background: linear-gradient(-225deg,white 50%,lightblue 50%);
    border-radius:5px;
    font-family: 'Abel', sans-serif;
}
#registracijabox h1{
    padding-top: 3%;
    padding-left:7%;
    color:lightblue;
}
form p{
    padding: 7px 0 7px 0;
    clear:both;
    margin: 0;
    color:#121314;
    padding:4px;
}
form.register legend{
    margin-left: 5%;
}
form.register label{
    width:25%;
}
form.register input{
    background-color: #121314;
    color:lightblue;
    border:1px solid lightblue;
}
form.register fieldset.row1
{
    width:100%;
    border-color: transparent;
    padding:0px;
    border-top:1px solid #121314;
}
.row1 ul{
    width:60%;
    list-style: none;
    margin: 0;
    margin-left: 13%;
    overflow: hidden;
    padding: 1%;
}
.row1 li{
    float:left;
    width:50%;
    padding-top: 5px;
    text-align: right;
}
form.register fieldset.row2
{
    width:50%;
    border-color: transparent;
    padding:0px;
    border-top:1px solid #121314;
    float:left;
    height: 220px;
}
form.register fieldset.row3
{
    width:47%;
    border-color: transparent;
    padding:0px;
    border-top:1px solid #121314;
    float:right;
    border-left: 1px solid #121314;
    position: absolute;
    margin-left: 47.7%;
    height: 220px;
}
form.register fieldset.row4
{
    width:94.5%;
    border-color: transparent;
    padding:0px;
    border-top:1px solid #121314;
    position: absolute;
    margin-top: 210px;
}
.row1 input{
   width: 60%;
   height:26px;
}
.row2 input{
    width: 70%;
    height:26px;
}
.row3 input[type=text]{
    width: 70%;
    height:26px;
}
.row2 ul{
    width:60%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 1%;
}
.row2 li{
    float:left;
    width:100%;
    padding-top: 5px;
    text-align: right;
}
.row3 ul{
    width:60%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 1%;
}
.row3 li{
    float:left;
    width:100%;
    padding-top: 5px;
    text-align: right;
}
input[type=radio], input[type=checkbox] {
  margin-top:10px;
  line-height: normal;
}
.row4 ul{
    width:50%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 1%;
}
.row4 li{
    float:left;
    width:100%;
    padding-top: 5px;
    text-align: left;
}
#dugmereg{
    width: 40%;
    position: absolute;
    margin-left: 50%;
    margin-top: -100px;
    text-align: center;
}
#dugmezareg {
    border: none;
    width:100px;
    height:50px;
    background-color:black;
    border-radius: 12px;
    color:lightblue;
    border: 1px solid lightblue;
}
#dugmezareg:hover{
    color:#121314;
    background-color: white;
}