@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
body {
    margin: auto;
    width: 100%;
    font-family: "Copperplate", fantasy;
}
#header{
    background-color: white;
}
#header ul{
    list-style: none; 
    margin:0;
    padding: 0;
    overflow: hidden;
    width:100%;
}
#header li{
    float:right;
    display: inline-block;
    padding-top:25px;
    padding-right: 10%;
}
#phonenumber{
    text-align: right;
}
#flag{
    float:right;
    width: 60%;
    height:100px;
}
#menu {
    background-color: #121314;
    border-bottom: 2px solid lightblue;
    border-top: 2px solid lightblue;
    width:100%;
}
#menu ul{
    list-style: none; 
    margin:0;
    padding: 0;
    overflow: hidden;
    width:100%;
}
#menu li{
    float:left;
}
#menu li a{
    display: inline-block;
    vertical-align: auto;
    text-align: center;
    padding: 14px 30px;
    color:lightblue;
    text-decoration: none;
}
#menu li a:hover{
    background-color: lightblue;
    color:#121314;
}
#footer{
    width: 100%;
    height: 100px;
    background-color:#121314;
    border-top: 2px solid gray;
    text-align: center;
    color:lightblue;
}
#mreze{
    width:30%;
    height:100px;
    float:right;
}
#mreze ul{
    list-style: none; 
    margin:0;
    padding: 0;
    overflow: hidden;
    width:100%;
}
#mreze li{
    display: inline-block;
    padding-top:25px;
    padding-right: 10%;
}
/**/
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color:lightblue;
  background-color: #121314;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;

  z-index: 1;

  
  outline: none;
}

:root {
  --select-border: lightblue;
  --select-focus: lightblue;
  --select-arrow: var(--select-border);
}

.select {
  width: 80%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background: linear-gradient(to bottom, #121314 0%, #121314 100%);
}
main{
    display: flex;
    flex-wrap: wrap;
    gap: 0rem; /*odvajanje stickya i producta*/
    max-width: 100%;
    background-color: black;
}
