body{
	float:center; /*da mi bude centrirano na sredini*/
	background-color:white;
	z-index:1; /* prioritet */
	text-align:center; /*text u centru*/
	width:99%;
}
#novi{
	
	z-index:0;
	margin-top:-20px;
	
	
}
#meni { 
    background-color:#595959;
	margin-top:20px;
	clear: both; /*pa resekne div*/
	margin-right:60px;
	height: 60px; 
	width:100%;
}

#meni ul { 
	margin: 0; /*da nema odsotjanja*/
	padding: 0; 
	list-style: none; 
}

#meni ul li { 
	padding: 0; 
	margin: 0; 
	display: inline; /*da mi prikaze sve u jednoj liniji*/
}

#meni ul li a {
	float: left;
	display: block; /*da mi se prikaze ko blok*/
    line-height: 60px; /*za velicinu bloka*/
	padding: 0px 20px; 
	font-size: 20px;
	color: white;	
	text-align: center;
	text-decoration: none;
	outline: none; /*da nije podvuceno*/
}

#meni ul li a:hover { /*kad prerlazi mis preko njega damenja boju*/
	color:white;
        background-color:#0a66c2;
}

#logo {
	
	margin-top:50px;
	height:100px;
	background-color:white;
	background: url(logo.png) no-repeat top left; 
}

#novosti{
	height:400px;
	margin-top:54px;
	
	background-color:#0a66c2;
	text-align:center;
}
#novosti2{
	height:350px;
	color:white;
	padding-top:8px;
	width:60% ;
	margin-left:20%;
	font-style: bold;
}
#novosti2 p{
	font-size:21px;
	
}
		
#galerija{
	
	
	height:400px;
	margin-top:50px;
	font-size:24px;
    font-style: bold;
	color: #0a66c2;		
}

#prvi img{
	width:50%;
	height:400px;
    float:left;	
}
#drugi img{width:50%;
	height:400px;
	float:left;
}

#footer{
	margin-top:200px;
	color:white;
	background-color: #595959;
	height: 150px;
}
#footer1{
	margin-top:100px;
	color:white;
	background-color: #595959;
	height: 150px;
}

#locirajme a{
    padding-right:100px;
	padding-top:100px;
	float:right;

}
#mapa{
	margin-top:36px;
	background-color: #0a66c2;
	height:600px;
	
}	
#mapa h1{
	padding-top:50px;
	color: white;	
	text-align:center;
	font-size:40px;
}
#kontakt {
	
	background-color:#ED174D;
	border-radius:25px;
	text-align:left;
	width:350px;
	color:white;
	margin-top:135px;
	margin-left:60px;
	font-size:25px;
	
}
#lis {
	font-size:24px;
	color:white;
	padding-top:50px;
}
#text1{
	width:90%;
	margin-left:5%;
	font-size:20px;
	color:white;
}
#text{
	border-radius:25px;
	margin-top:100px;
	height:300px;
	background-color:#0a66c2;
}
#text3{
	width:90%;
	margin-left:5%;
	font-size:20px;
	color:white;
}
#text2{
	border-radius:25px;
	height:200px;
	margin-top:50px;
	background-color:#0a66c2;
}
#text5{
	width:90%;
	margin-left:5%;
	font-size:20px;
	color:white;
}
#text4{
	border-radius:25px;
	height:220px;
	margin-top:50px;
	background-color:#0a66c2;
}
#text7{
	width:90%;
	margin-left:5%;
	font-size:20px;
	color:white;
}
#text6{
	border-radius:25px;
	height:150px;
	margin-top:50px;
	background-color:#0a66c2;
}
#text9{
	
	width:90%;
	margin-left:5%;
	font-size:20px;
	color:white;
}
#text8{
    border-radius:25px;
	height:200px;
	margin-top:50px;
	background-color:#0a66c2;
}
#footer2{
	margin-top:100px;
	color:white;
	background-color: #595959;
	height: 150px;
}
#kalendar{
	background-color:#white;
	
	
}
#naslov{
       color:#595959;
	margin-top:-500px;
	margin-left:450px;
	
}
#tabela{
	
	background-color:#0a66c2;
	text-align:center;
	height:400px;
        margin-left:550px;
	width:700px; 
	border-color: white;
}
#tabela p{
    width: 30px;
	color:white;
}
#tabela td{
	color:white;
}
#tabela th{
	color:white;
}
#tabela  td:hover{
	background-color:white;
	color:#0a66c2;
	
}
#footer4{
	margin-top:100px;
	color:white;
	background-color: #595959;
	height: 150px;
}
#hr1{
	margin-top:54px;
}
#mesec{
	color:#595959;
	font-size:20px;
	text-align:left;
	width:500px;
}
#nesto
{
	margin-top:54px;
    height:550px;
    background-color: #0a66c2;
    
}

.gt{
    margin: 0px 10px;
}
.clear{
    clear:left;
    height:15px;
}
.title {
    position:relative;
    margin:94px;
    width:250px;
    height:200px;
    float:left;
    font: 14px normal Tahoma,sans-serif;
    padding:0;
    color:#444;
    background-color: #f9f9f9;
    text-align: justify;
   
    display: inline;
}

.title p{
	
    margin:0 20px 5px;
    margin-top:10px;
    line-height: 1.2;
	color:white;
}
.title h2{
    text-align: center;
    margin:5px 5px 0;
    font: bold 20px Tahoma,sans-serif;
    color:red;
}
.title a{
    color:#aaa;
}
#dugme
{
	margin-left:60px;
	width:100px;
	height:30px;
	border-radius: 25px;
	text-align:center;
	color:white;
	background-color:#ED174D;
	font: bold 16px Tahoma,sans-serif;
}
#dugme2
{
	width:150px;
	height:50px;
	border-radius: 25px;
	text-align:center;
	color:white;
	background-color:#ED174D;
	font: bold 16px Tahoma,sans-serif;
        margin-right: 60px
}
#traze
{
    width:100%;
    text-align: center;
    
}

