<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
</head>
<body>
    <div th:each="user : ${users}">
        <a th:text="${user.username}">Author name:</a>
        <a th:text="${user.password}">Author name:</a>
    </div>
</body>
</html>