@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
body {
    margin: auto;
    width: 100%;
    font-family: "Copperplate", fantasy;
}
#header{
    background-color: white;
}
#header ul{
    list-style: none; 
    margin:0;
    padding: 0;
    overflow: hidden;
    width:100%;
}
#header li{
    float:right;
    display: inline-block;
    padding-top:25px;
    padding-right: 10%;
}
#phonenumber{
    text-align: right;
}
#flag{
    float:right;
    width: 60%;
    height:100px;
}
#menu {
    background-color: #121314;
    border-bottom: 2px solid lightblue;
    border-top: 2px solid lightblue;
    width:100%;
}
#menu ul{
    list-style: none; 
    margin:0;
    padding: 0;
    overflow: hidden;
    width:100%;
}
#menu li{
    float:left;
}
#menu li a{
    display: inline-block;
    vertical-align: auto;
    text-align: center;
    padding: 14px 30px;
    color:lightblue;
    text-decoration: none;
}
#menu li a:hover{
    background-color: lightblue;
    color:#121314;
}
#slideshow{
    width: 100%;
    height:400px;
    border-bottom: 2px solid lightblue;
}
.text{
    float:left;
    width: 40%;
    background: linear-gradient(90deg,black 50%,transparent);
    height:400px;
}
.textinner{
    height:400px;
    padding-top:10%;
    padding-left:10%;
    padding-bottom: 20%;
    padding-right: 10%;
}
.textinner h1{
    color:lightblue;
}
.textinner p {
    color:lightblue;
}
.textinner a{
    color:white;
    text-decoration: none;
}
.dot2 {
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 50%;
  border:1px solid lightblue;
  display: inline-block;
}
.dot1 {
  height: 20px;
  width: 20px;
  background-color: lightblue;
  border-radius: 50%;
  border:1px solid lightblue;
  display: inline-block;
}
#lokacija {
    width: 100%;
    background-color:lightblue;
    height:400px;
    
}
#transp {
    float:right;
    width: 100%;
    background: linear-gradient(90deg,black 0%,lightblue),
        linear-gradient(180deg,black 50%,transparent);
    height:400px;
}
#tekstlokacija {
    float:right;
    width:30%;
    padding-left:5%;
    padding-right: 5%;
    padding-top: 5%;
}
#tekstlokacija h1{
    color:white;
}
#tekstlokacija p{
    color:white;
}
#tekstlokacija a{
    color:lightblue;
    text-decoration: none;
}
#map1 {
    width:100%;
    float:left;
    height: 400px;
    float:left;
    text-align: center;
    background:linear-gradient(270deg,black 0%,transparent);
}
#mapicon{
    width:100%;
    height: 400px;
    float:left;
    text-align: center;
    background:linear-gradient(270deg,black 0%,transparent);
}
#footer{
    width: 100%;
    height: 100px;
    background-color:#121314;
    border-top: 2px solid gray;
    text-align: center;
    color:lightblue;
}
#mreze{
    width:30%;
    height:100px;
    float:right;
}
#mreze ul{
    list-style: none; 
    margin:0;
    padding: 0;
    overflow: hidden;
    width:100%;
}
#mreze li{
    display: inline-block;
    padding-top:25px;
    padding-right: 10%;
}
#rad{
    width:100%;
    height:100%;
    background:linear-gradient(90deg,black 0%,transparent);
    color:white;
    text-align: center;
}
#dugmepretraga {
    border: none;
    width:100px;
    height:50px;
    background-color:black;
    border-radius: 12px;
    color:lightblue;
    border: 1px solid lightblue;
}
#dugmepretraga:hover{
    color:#121314;
    background-color: lightblue;
}
.buttonkorpa{
    border: none;
    width:100px;
    height:50px;
    background-color:black;
    border-radius: 12px;
    color:lightblue;
    border: 1px solid lightblue;
}
.buttonkorpa:hover{
    color:#121314;
    background-color: lightblue;
}
#bord{
    width: 0.5%;
    float:left;
    background-color: lightblue;
    height: 700px
}
/**/
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color:lightblue;
  background-color: #121314;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;

  z-index: 1;

  
  outline: none;
}

:root {
  --select-border: lightblue;
  --select-focus: lightblue;
  --select-arrow: var(--select-border);
}

.select {
  width: 80%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background: linear-gradient(to bottom, #121314 0%, #121314 100%);
}
.gt { margin:20px 1%;
     padding-left:2%;
}

.clear { 
clear: left; 
height:15px; 
}

.tile {
  margin: 2px;
  width: 32%;
  background: #121314;
  padding: 0;
  color: lightblue;	   
  text-align: center;
  position:relative;
  float:left; 
  display:inline; 
 }
 
.tile p { margin: 0 5px 5px; }

.tile h2 { 
margin: 50px 10px 0; 
}
.tile .image{
    width:80%;
    margin-left: 10%;
    height:100px;
    margin-top:10px;
}
.tile img{
    height:130px;
    width:100%;
}
#login {
    width:100%;
    background-color: black;
    background:linear-gradient(0deg, lightblue, #121314);
}
#loginbox{
    width:45%;
    margin-left:27.5%;
    background: linear-gradient(-225deg,white 50%,lightblue 50%);
    font-family: 'Abel', sans-serif;
    text-align: center;
}
#loginbox h2{
    font-family:'Playfair Display', serif;
    margin-top: 0px;
}
#loginbox a{
    color:white;
    text-decoration: none;
}
#dugmeprijava {
    border: none;
    width:100px;
    height:50px;
    background-color:black;
    border-radius: 12px;
    color:lightblue;
    border: 1px solid lightblue;
}
#dugmeprijava:hover{
    color:#121314;
    background-color: white;
}
#user{
    background-color: black;
    border: 3px solid lightblue;
    color: lightblue;
    border-radius: 8px;
    height: 45px;
    width: 45%;
}
#pass{
    background-color: black;
    border: 3px solid lightblue;
    color: lightblue;
    border-radius: 8px;
    height: 45px;
    width: 45%;
    margin-top: 5px;
}
#registracija{
    width:100%;
    background:linear-gradient(0deg, lightblue, #121314);
    height:800px;
}
#registracijabox{
    width:95%;
    margin-left:2.5%;
    height:80%;
    background: linear-gradient(-225deg,white 50%,lightblue 50%);
    border-radius:5px;
    font-family: 'Abel', sans-serif;
}
#registracijabox h1{
    padding-top: 3%;
    padding-left:7%;
    color:lightblue;
}
form p{
    padding: 7px 0 7px 0;
    clear:both;
    margin: 0;
    color:#121314;
    padding:4px;
}
form.register legend{
    margin-left: 5%;
}
form.register label{
    width:25%;
}
form.register input{
    background-color: #121314;
    color:lightblue;
    border:1px solid lightblue;
}
form.register fieldset.row1
{
    width:100%;
    border-color: transparent;
    padding:0px;
    border-top:1px solid #121314;
}
.row1 ul{
    width:60%;
    list-style: none;
    margin: 0;
    margin-left: 13%;
    overflow: hidden;
    padding: 1%;
}
.row1 li{
    float:left;
    width:50%;
    padding-top: 5px;
    text-align: right;
}
form.register fieldset.row2
{
    width:50%;
    border-color: transparent;
    padding:0px;
    border-top:1px solid #121314;
    float:left;
    height: 220px;
}
form.register fieldset.row3
{
    width:47%;
    border-color: transparent;
    padding:0px;
    border-top:1px solid #121314;
    float:right;
    border-left: 1px solid #121314;
    position: absolute;
    margin-left: 47.7%;
    height: 220px;
}
form.register fieldset.row4
{
    width:94.5%;
    border-color: transparent;
    padding:0px;
    border-top:1px solid #121314;
    position: absolute;
    margin-top: 210px;
}
.row1 input{
   width: 60%;
   height:26px;
}
.row2 input{
    width: 70%;
    height:26px;
}
.row3 input[type=text]{
    width: 70%;
    height:26px;
}
.row2 ul{
    width:60%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 1%;
}
.row2 li{
    float:left;
    width:100%;
    padding-top: 5px;
    text-align: right;
}
.row3 ul{
    width:60%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 1%;
}
.row3 li{
    float:left;
    width:100%;
    padding-top: 5px;
    text-align: right;
}
input[type=radio], input[type=checkbox] {
  margin-top:10px;
  line-height: normal;
}
.row4 ul{
    width:50%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 1%;
}
.row4 li{
    float:left;
    width:100%;
    padding-top: 5px;
    text-align: left;
}
#dugmereg{
    width: 40%;
    position: absolute;
    margin-left: 50%;
    margin-top: -100px;
    text-align: center;
}
#dugmezareg {
    border: none;
    width:100px;
    height:50px;
    background-color:black;
    border-radius: 12px;
    color:lightblue;
    border: 1px solid lightblue;
}
#dugmezareg:hover{
    color:#121314;
    background-color: white;
}
#map {
    width:100%;
    height:400px;
    border-bottom: 2px solid lightblue;
}
#buttons {
    width:100%;
    height:100px;
    background:linear-gradient(90deg, lightblue, #121314);
}
#lokacije {
    width:100%;
    height:400px;
    background:linear-gradient(90deg, lightblue, #121314);
    overflow: auto;
}
#buttons ul{
    width:80%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    padding-top: 20px;
    margin-left:8%;
}
#buttons li{
    float:left;
    padding-left: 3%;
}
.vp {
    border: none;
    width:100px;
    height:50px;
    background-color:black;
    border-radius: 12px;
    color:lightblue;
    border: 1px solid lightblue;
}
.active, .vp:hover{
    background-color: lightblue;
    color:black;
    border: 1px solid black;
}
.mp {
    border: none;
    width:100px;
    height:50px;
    background-color:black;
    border-radius: 12px;
    color:lightblue;
    border: 1px solid lightblue;
}
.active, .mp:hover{
    background-color: lightblue;
    color:black;
    border: 1px solid black;
}
#tabelalokacija{
    width:80%;
    margin-left:10%;
    border-collapse: collapse;
}
#tabelalokacija th{
    border-bottom: 1px solid white;
    text-align: left;
    padding: 5px;
}
#tabelalokacija td{
    border-bottom: 1px solid white;
    text-align: left;
    padding: 5px;
}
#person{
    width:100%;
    padding-bottom: 20px;
    background:linear-gradient(270deg, lightblue, #121314);
}
#personprofile{
    width:60%;
    border-radius:12px;
    font-family: 'Alegreya',sans-serif;
    background-color: white;
    margin-left:20%;
    box-shadow: 5px 5px 5px 0px #000000;
}
#profile1 {
    text-align: center;
    width: 98%;
}
#profile2{
    overflow: auto;
    width:100%;
    text-align: left;
    background-color:lightblue;
    border-radius: 0px 0px 12px 12px;
}
#menip ul{
    width:100%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#menip li{
    float:left;
    border-right:1px solid white;
}
#podacip {
    width:99.5%;
    background-color: black;
    height: 222px;
    border-radius: 0px 0px 12px 12px;
    border: 1px solid lightblue;
}
#podacip ul{
    width:99%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    color:lightblue;
    padding-top: 20px;
    padding-left: 1%;
}
#podacip li{
    float:left;
    width:50%;
    color:lightblue;
    padding-top: 10px;
}
#kupovine {
    width:99.5%;
    background-color: black;
    border-radius: 0px 0px 12px 12px;
    border: 1px solid lightblue;
    display:none;
}
#kupovine ul{
    width:100%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    color:lightblue;
    padding-top: 20px;
}
#kupovine li{
    float:left;
    width:100%;
    color:lightblue;
    padding-top: 10px;
}
.tabelakupljenih{
    width: 100%;
    border-collapse: collapse;
}
.tabelakupljenih tr{
    border-top: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
}
.tabelakupljenih th{
    padding: 7px;
}
.tabelakupljenih td{
    padding: 7px;
}
.arrow {
    color:lightblue; 
    font-size:14pt;
}
.dugmeprofil{
  border: none;
  width:100px;
  height:50px;
  background-color:lightblue;
  color:white;
}
.dugmeprofil:hover{
    color:lightblue;
    background-color: black;
}
#profilepicture{
    border-radius:50%;
    width:20%;
    height:3%;
    border:1px solid gray;
}
.product{
    flex-grow:999;
    flex-basis: 0;
}
.sticky{
    background:lightblue;
    color: white;
    height: 470px;
    width: 10rem;
    flex-grow: 1;
    position: sticky;
    top:0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 300px;
    box-sizing: border-box; 
}
main{
    display: flex;
    flex-wrap: wrap;
    gap: 0rem; /*odvajanje stickya i producta*/
    max-width: 100%;
    background-color: black;
}
.grid{
    margin:2rem;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0.5rem;
}
.grid div{
    background-color:#121314;
    color: lightblue;
}
.box{
    text-align: center;
}
.box p { margin: 0 5px 5px; }

.box h2 { 
margin: 50px 10px 0; 
}
.box .image{
    width:80%;
    margin-left: 10%;
    height:100px;
    margin-top:10px;
}
.box img{
    height:150%;
    width:100%;
}
#cartdiv{
    position:absolute;
    float:right;
    width:27%;
    background-color: lightblue;
    margin-left: 73%;
    border-radius: 5px;
    box-sizing: border-box; 
    border: 1px solid #121314;
    color:white;
    display:none;
}
#cart{
    width: 100%;
    height: 100%;
    background-color:black;
    border-radius:5px;
    display: flex;
    flex-direction: column;
}
#korpa
{
    height:50px;
    width:100%;
    background:linear-gradient(0deg, lightblue, black);
    text-align: center;
}
#suma
{
    height:100px;
    width:100%;
    background:linear-gradient(270deg, lightblue, black);
    text-align: center;
}
#suma p{
    width:95%;
    height:12%;
    text-align:right;
}
#kupibutton{
    height: 36%;
    text-align: center;
    width: 40%;
    border: 1px solid lightblue;
    border-radius: 10px;
    background-color: black;
    color: lightblue;
}
#kupibutton:hover{
    background-color: lightblue;
    color:black;
}
#korpabuttonmeni{
    background-color: #121314;
    border:none;
    width:50px;
}
#tabelakorpa{
    border-collapse: collapse;
    width:100%;
    background:linear-gradient(270deg, lightblue, black);
}
#tabelakorpa tr{
    width:100%;
    height:50px;
}
#tabelakorpa td{
    padding:5px;
}
.korpaobrisi{
  font-size: 18pt;
  color: red;
  background: transparent;
  border: none;
}